//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

//Colors
$color1: #F0F1F1;
$color2: #5E5322;
$color3: #FAD648;
$color4: #737373;
$color5: #3C3C3C;

//Fonts
$font-base: 'Open Sans', sans-serif;
$font-alt: 'Merriweather', serif;

body {
  font-family: $font-base;
}

.App {
  width: 100%;
  max-width: 1900px;
}



//.container {
//  max-width: 92.6%;
//  background-color: blue;
//  height: 400px;
//}
