html {
  font-size: 62.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  width: 100vw;
  max-width: 1900px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//.container {
//  max-width: 92.6%;
//  background-color: blue;
//  height: 400px;
//}
